.contact {
    
    .info-section {
        padding: 54px;
        width: 35%;
    }

    .content-area {
        background: $color5;
        margin-left: 35%;
        width: 65%;
        background: $color3;
        height: 100%;
       
      
        .form-container {
        display: inline-block;
        width: 30%;
        position: relative;   
        height: 100%;
        
        
        .form-section {
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 56px;
            left: -210px;
            width: 400px;
            padding: 46px;
            background: $color4;
        
            color: $color3;
            -webkit-box-shadow: 9px 20px 80px 6px rgba(179,179,179,0.59);
            -moz-box-shadow: 9px 20px 80px 6px rgba(179,179,179,0.59);
            box-shadow: 9px 20px 80px 6px rgba(179,179,179,0.59);
            
            h4 {
                font-size: 1.3rem;
                margin-top: 2rem;
                margin-bottom: 4rem;
            }
            
            input[type="text"], input[type="email"], textarea {
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 2px solid $color6;
                margin-bottom: 2rem;
                font-size: .8rem;
                text-transform: uppercase;
                line-height: 1.1;
                padding: 15px 0;
                color: $color6;
                }
                button[type="submit"] {
                    border: none;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                    text-align: center;
                    color: $color4;
                    padding: 17px 30px;
                    text-transform: uppercase;
                    width: 100%;
                    font-size: 1rem;
                    letter-spacing: 3px;
                    background-color: $color1;
                }
            }
        }
       

        .contact-section {
            vertical-align: top;
            display: inline-block;
            padding: 56px;
            width: 70%;
            float: right;
            
            .contact-info {
                h1 {
                    font-size: 2.3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    margin:0 0 1rem 0;
                    
                    span {
                        color: $color1;
                    }
                }

                .contact-box {
                    max-width: 600px;
                    width: 100%;
                    padding: 30px;
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                    
                    &:hover {
                        -webkit-box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.12);
                        -moz-box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.12);
                        box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.12);
                    }
                    h5 {
                        font-weight: 600;
                        font-size: 1.1rem;
                        margin: 0 0 1.5rem;
                    }
    
                    p {
                        color: $color6;
                        font-weight: 300;
                        line-height: 1.4;
                        margin: 0 0 2rem 0;
                    }
                }
                
            }
        }

     
    }
}

//Phone
@media (min-width: 0px) and (max-width: 767px) {
    .contact {

        .menu-icon {
            top: -3px;
            right: 20px;
            color: white;
            
            .fa-bars {
                color: white;
            }
        }
        .content-area {
            &:after {
                height: auto;
                content: "";
                display: table;
                clear: both;
            }
        }
        .info-section {
         
            position: static;
            padding: 10px 20px;
        
        .logo {
            height: 50px;
            width: 70px;
            font-size: 1rem;
            }
     
        }
        .content-area {
            margin-left: 0;
            width: 100%;
            .img-container {
                height: auto;
                width: 100%;
                padding: 56px 20px 0;
                .form-section {
                    position: static;
                    width: 100%;
                    height: auto;
                    overflow: auto;
                }
            }
            .contact-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;

                
            }
        }
    }  
}
//Tablet
@media (min-width: 768px) and (max-width: 991px){
    .contact {
        .info-section{
            .icon-section  {
                a {
                    font-size: 1.4rem;
                }
            }
        } 

        .content-area {
            height: auto;
        
            &:after {
                height: auto;
                content: "";
                display: table;
                clear: both;
            }
            .img-container {
                height: auto;
                width: 100%;
                padding: 56px 20px 0;
                .form-section {
                    position: static;
                    width: 100%;
                    height: auto;
                    overflow: auto;
                }
            }
            .contact-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;
                max-width: 800px;

                .white-btn,
                .primary-btn {
                    margin-bottom: 20px;
                }
            }
        }
    }  
}
//Laptop
@media (min-width: 992px ) and
(max-width: 1199px ) {
    .contact {
        
        .content-area {
            height: auto;
            &:after {
                height: auto;
                content: "";
                display: table;
                clear: both;
            }
            .img-container {
                padding: 56px 20px 0;
                height: auto;
                float: right;
                width: 100%;
                .form-section {
                    position: static;
                    width: 100%;
                    float: right;
                    height: auto;
                    overflow: auto;
                }
            }

            .contact-section {
                width: 70%;
                float: right;
                padding: 20px 20px 0;
                max-width: 800px;

                .primary-btn, .white-btn {
                    margin-bottom: 20px;
                }
            }
        }
    }  
}
//Extra Big
@media (min-width: 1200px ){
    .contact {
       
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: right;
                
                
                .form-section {
                    //position: static;
                    //width: 100%;
                    left: -157px;
                    width: 400;
                }
            }
            .contact-section {
                width: 70%;
                float: right;
                padding: 20% 60px 0;
                max-width: 800px;
            }
        }
    }  
}

@media (min-width: 1500px ){
    .contact {
       
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: right;
                
                
                .form-section {
                    //position: static;
                    //width: 100%;
                    left: -250px;
                    width: 500;
                }
            }
            .contact-section {
                width: 70%;
                float: right;
                padding: 20% 60px 0;
                max-width: 800px;
            }
        }
    }  
}